* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* header */
  --HEADER-BGCOLOR: #202020;
  --HEADER-COLOR: #fff;

  /* main */
  --MAIN-BGCOLOR-START: #F72585;
  --MAIN-BGCOLOR-END: #4CC9F0;
  --MAIN-COLOR: #131313;

  /* footer */
  --FOOTER-BGCOLOR: #000;
  --FOOTER-COLOR: #fff;
}

html {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
  font-size: 1em;
  align-items: center;
  flex-direction: column;
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BGCOLOR);
  position: fixed;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
}

header .header-title-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0;
  padding: 0.25rem, 0.5rem;
  flex-flow: nowrap;
  height: 100%;
}

header .logo a:any-link {
  color: var(--HEADER-COLOR);
  text-decoration: none;
}

/* main */

main {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, var(--MAIN-BGCOLOR-START), var(--MAIN-BGCOLOR-END));
  color: var(--MAIN-COLOR);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

/* note-container */

#note-container {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 70%;
  max-width: 1000px;
  min-width: 750px;
  background-color: #fff;
  box-shadow: 0 0 3px #000;
  background-color: #EDE0D4;
}

@media screen and (max-width: 768px) {
  #note-container {
    width: 100%;
    min-width: auto;
  }
}

#note-container nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #7F5539;
  color: #fff;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
}

#create-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  height: 1em;
  width: 1em;
}

#list-container {
  padding: 0.25rem;
}

#list-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#list-container ul li {
  padding: 0.5rem;
  border-bottom: solid 1px #000;
  display: flex;
}

#list-container ul li:last-child {
  border-bottom: none;
}

.list-title {
  cursor: pointer;
  position: relative;
}

.remove-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #EDE0D4;
  border: 1px solid #7F5539;
  padding: 0.5rem;
  font-size: 1rem; 
  flex: 1;
}

input:focus {
  outline: none;
}

#submit {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-left: none;
  background-color: #7F5539;
  color: #fff;
  cursor: pointer;
}
/* footer */

footer {
  background-color: var(--FOOTER-BGCOLOR);
  color: var(--FOOTER-COLOR);
  min-height: 200px;
}